
@{
    ViewBag.Title = "View";
}

<div class="container">
    <div id="info_block">
        <h1>Employee List</h1>
        <table id="main_table"></table>
    </div>
    <div id="btn_block">
        <button><a id="create" href="DialogForm.aspx">Create</a></button>
        <button><a id="edit" href="">Edit</a></button>
        <button id="delete">Delete</button>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/employee")
}