@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="emp_table">
    <tr>
        <th>
            Employee Name
        </th>
        <th>
            Employee Title
        </th>
        <th>
            Employee Start Date
        </th>
        <th>
            Employee End Date
        </th>        
        <th></th>
    </tr>    
</table>

@section Scripts{
    <script>
        var table = $('#emp_table');

        $(document).ready(function () {
            doAjax(function (callback) {
                if (callback != 'success') {
                    console.log("ajax reqest failed");
                }
            });
        });

        function doAjax(callback) {
            $.ajax({
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                url: '@Url.Action("GetAll")',
                dataType: 'json',
                success: function (data) {
                    // parse json
                    var htmlstr = "";
                    for (var i = 0; i < data.length; i++) {
                        htmlstr += "<tr>";
                        htmlstr += "<td>" + data[i].name + "</td>";
                        htmlstr += "<td>" + data[i].title + "</td>";
                        htmlstr += "<td>" + new Date(parseInt(data[i].start_date.substr(6))) + "</td>";
                        htmlstr += "<td>" + new Date(parseInt(data[i].end_date.substr(6))) + "</td>";
                        htmlstr += "<td><a href='/Employee/Edit?id=" + data[i].ID + "'>Edit</a><a href='/Employee/Details?id=" + data[i].ID + "'>Details</a><a href='/Employee/Delete?id=" + data[i].ID + "'>Delete</a></td>";
                        htmlstr += "</tr>";
                    }

                    table.append(htmlstr);
                    return callback('success');
                },
                error: function () {
                    return callback('failed');
                }
            });
        }
    </script>
    }